table{
    border-collapse: collapse;
}
caption{
    margin-bottom: 12px;
}
td{
    border: 2px solid black;
    padding: 10px;
}
#cabeçalho{
    background-color: blue;
    color: white;
}